@import "../../styles/variables.scss";

.footer {
  text-align: center;
  padding: 40px 0;
  font-weight: 300;
  opacity: 0.8;
  &__social-media-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
  }
  &__connect {
    font-size: 12px;
    text-align: center;
    color: $colPrimary;
    font-weight: 500;
  }
}
