@import "./styles/font.scss";
@import "~bootstrap/scss/bootstrap";
@import "./styles/variables.scss";

body {
  font-family: "Lato", sans-serif;
  background-color: $colBg !important;
}

::selection {
  background: $colPrimary;
}

* {
  box-sizing: border-box;
}

a {
  transition: 0.2s ease all;
  color: unset;
  &:hover {
    background-color: unset;
    color: unset;
  }
  &:focus {
    color: unset;
    background-color: unset;
  }
}